# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches and logs
*.log
.pytest_cache/
.coverage
htmlcov/

# Environments
.env
.venv
env/
venv/
ENV/

# Streamlit
.streamlit/

# OS generated
.DS_Store
Thumbs.db

# Archives
*.zip
